body {
  overflow-x: hidden;
  background-color: #e2edff;
  font-family: "Roboto";
}

/* Navbar */
.nav-link:hover {
  color: #0dcaf0 !important;
  text-decoration: underline;
}

.nav-link {
  font-size: 15px;
  font-family: "Poppins";
  color: #0dcaf0;
  font-weight: bold;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
}

.navbar-brand h2 {
  font-family: "Pacifico";
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
  cursor: pointer;
}

.navbar-brand h2:hover {
  text-decoration: underline;
}

.navbar-brand i {
  color: #0dcaf0;
}

/* Hamburger */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: #0dcaf0;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: #0dcaf0;
  transform: rotate(-45deg) translate(-1px, 0);
}

/* .menu-toggle input:hover ~ span:nth-child(2) {
  background-color: #0dcaf0;
}

.menu-toggle input:hover ~ span:nth-child(4) {
  background-color: #0dcaf0;
}

.menu-toggle input:hover ~ span:nth-child(3) {
  background-color: #0dcaf0;
} */

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
/* Responsive */

/* Ukuran Table */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* Ukuran Mobile */
@media screen and (max-width: 767px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    right: 0;
    top: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul li {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 7px;
    border: 2px solid #0dcaf0;
    border-radius: 20px;
  }
  nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #0dcaf0;
  }
  .nav-link:hover {
    color: #0dcaf0 !important;
    text-decoration: underline;
    font-weight: bold;
  }
  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
}
/* akhir navbar */

/* Jumbtron */
#navbar {
  background-image: url("../images/background/bg.webp");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#navbar:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.jumbtron-content {
  z-index: 2;
  position: relative;
}

.btn-jumbtron:hover {
  color: #ffffff;
  background-color: #0dcaf0 !important;
  border-color: #0dcaf0;
}

#beranda #tulis {
  font-family: "Pacifico";
  letter-spacing: 1px;
}

#beranda #opening {
  font-family: "Poppins";
}

#beranda #buttonmenu {
  font-family: Arial, Helvetica, sans-serif;
}
/* akhir Jumbtron */

/* Waktu */
.jam {
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: "Gideon Roman";
}
/* Akhir Waktu */

/* Tentang Kami */
#tentang hr {
  width: 100px;
  height: 4px;
  opacity: 1;
}

.btn-tentang:hover {
  color: #ffffff !important;
  background-color: #0dcaf0 !important;
  border-color: #ffffff;
}
/* Akhir tentang kami */

/* Garis bawah judul */
.heading hr {
  width: 100px;
  height: 4px;
  opacity: 1;
  margin: 0 auto;
}
/* akhir garis bawah judul */

/* Card 1 */
.btn-promo:hover {
  color: #ffffff !important;
  background-color: #0dcaf0 !important;
  border-color: #ffffff;
}

#joindiscord h2 {
  margin-right: 2rem;
}

.btn-joindiscord:hover {
  color: #ffffff !important;
  background-color: #0dcaf0 !important;
  border-color: #0dcaf0;
}

.joindiscord-img {
  background-image: url("../images/background/bgjoin.jpg");
  height: 100%;
  width: 100%;
  position: relative;
}

.joindiscord-img::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.joindiscord-content {
  position: relative;
  z-index: 4;
}
/* Akhir Card 1 */

/* Card 2 */
#warung h2 {
  margin-right: 2rem;
}

.warung-img {
  background-image: url("../images/background/bgwarung.jpg");
  height: 100%;
  width: 100%;
  position: relative;
}

.warung-img::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.warung-content {
  position: relative;
  z-index: 4;
}
/* Akhir Card 2 */

/* FAQ */
#faq a {
  text-decoration: none;
}
#faq a:hover {
  text-decoration: underline;
  color: black;
}
/* Akhir FAQ */

/* Contact */
#contact a {
  text-decoration: none;
  color: black;
}

#contact i {
  width: 40px;
  height: 40px;
}

#contact h5 {
  color: black !important;
}
/* Akhir contact */

/* Map */
#mapbox {
  width: 100%;
  height: 400px;
}
/* Akhir Map */

/* Footer */
footer {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

footer p {
  font-family: Helvetica;
}
/* Akhir Footer */

/* Responsive */
@media (max-width: 768px) {
  #beranda p {
    width: 100% !important;
    font-size: 16px;
  }

  #joindiscord h2 {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }

  #warung h2 {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  #beranda h1 {
    width: 100% !important;
    /* font-size: 34px; */
  }

  #tentang p {
    width: 100% !important;
  }

  footer p {
    font-size: 14px !important;
  }
}

@media (max-width: 992px) {
  #tentang .d-flex-left {
    width: 100% !important;
  }

  .navbar-brand .d-flex-left {
    width: 100% !important;
  }

  #tentang button {
    display: block;
    margin: 0 auto;
  }

  #contact .contact-flex-left {
    width: 100% !important;
    margin-bottom: 2rem;
  }

  #contact .contact-flex-right {
    width: 100% !important;
  }

  #contact h5 {
    font-size: 16px;
  }

  #contact .contact-flex-left p {
    font-size: 14px;
  }

  .accordion-item-3 {
    border-radius: 0 !important;
  }
  .accordion-item-4 {
    border-radius: 0 !important;
  }
}
/* Akhir Responsive */
